.sigInButton {
    background-color: rgba(197, 226, 255, 1);
    color:rgba(0, 89, 177, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sigInButton:hover {
    color:rgb(1, 62, 122);
    background-color: rgb(150, 194, 238) 
  }
  
  .sigInButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 89, 177, 0.4);
  }
  