
.bannerImg{
    background: url('./assest/banner.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 70px);


}
.srcBtn{
    font-size: 18px;
    background: rgba(0, 94, 174, 1);
    color:white;
    font-weight: 400;
    padding: 16px 25px;
    border-radius: 8px;
}


@media (max-width:640px) {
    .bannerImg{
        height: calc(100vh - 50px);
    }
    .srcBtn{
        font-size:14px;
        font-weight: 400;
        padding: 7px 8px;
        border-radius: 4px;

    }
}

